syntax: glob

*~
.*.swp

intl
m4
Makefile.in
Makefile
configure
aclocal.m4
autom4te.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.sub
depcomp
missing
mkinstalldirs
install-sh
stamp-*

*.o
*.a
fsv.spec
src/fsv
.deps
